body{

font-family: Arial;
background-color:#121212;
color:white;
text-align:center;

}

.container{

width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;

}

input{

padding:8px;

}

button{

padding:10px;
background:#00ff9d;
border:none;
cursor:pointer;

}

textarea{

height:200px;

}